

NET "switches[0]" LOC = C7;
NET "switches[1]" LOC = A6;
NET "switches[2]" LOC = B6;
NET "switches[3]" LOC = A5;
NET "switches[4]" LOC = C5;
NET "switches[5]" LOC = A4;
NET "switches[6]" LOC = B4;
NET "switches[7]" LOC = A2;
NET "switches[8]" LOC = C11;
NET "switches[9]" LOC = C6;
NET "switches[10]" LOC = D6;
NET "switches[11]" LOC = A9;
NET "switches[12]" LOC = C9;
NET "switches[13]" LOC = A8;
NET "switches[14]" LOC = B8;
NET "switches[15]" LOC = A7;
NET "switches[16]" LOC = C15;
NET "switches[17]" LOC = C14;
NET "switches[18]" LOC = B14;
NET "switches[19]" LOC = A13;
NET "switches[20]" LOC = C13;
NET "switches[21]" LOC = A12;
NET "switches[22]" LOC = B12;
NET "switches[23]" LOC = A11;
NET "switches[24]" LOC = D21;
NET "switches[25]" LOC = C18;
NET "switches[26]" LOC = D18;
NET "switches[27]" LOC = A17;
NET "switches[28]" LOC = C17;
NET "switches[29]" LOC = A16;
NET "switches[30]" LOC = B16;
NET "switches[31]" LOC = A15;


NET "switches[31]" IOSTANDARD = LVCMOS33;
NET "switches[30]" IOSTANDARD = LVCMOS33;
NET "switches[29]" IOSTANDARD = LVCMOS33;
NET "switches[28]" IOSTANDARD = LVCMOS33;
NET "switches[27]" IOSTANDARD = LVCMOS33;
NET "switches[26]" IOSTANDARD = LVCMOS33;
NET "switches[25]" IOSTANDARD = LVCMOS33;
NET "switches[24]" IOSTANDARD = LVCMOS33;
NET "switches[23]" IOSTANDARD = LVCMOS33;
NET "switches[22]" IOSTANDARD = LVCMOS33;
NET "switches[21]" IOSTANDARD = LVCMOS33;
NET "switches[20]" IOSTANDARD = LVCMOS33;
NET "switches[19]" IOSTANDARD = LVCMOS33;
NET "switches[18]" IOSTANDARD = LVCMOS33;
NET "switches[17]" IOSTANDARD = LVCMOS33;
NET "switches[16]" IOSTANDARD = LVCMOS33;
NET "switches[15]" IOSTANDARD = LVCMOS33;
NET "switches[14]" IOSTANDARD = LVCMOS33;
NET "switches[13]" IOSTANDARD = LVCMOS33;
NET "switches[12]" IOSTANDARD = LVCMOS33;
NET "switches[11]" IOSTANDARD = LVCMOS33;
NET "switches[10]" IOSTANDARD = LVCMOS33;
NET "switches[9]" IOSTANDARD = LVCMOS33;
NET "switches[8]" IOSTANDARD = LVCMOS33;
NET "switches[7]" IOSTANDARD = LVCMOS33;
NET "switches[6]" IOSTANDARD = LVCMOS33;
NET "switches[5]" IOSTANDARD = LVCMOS33;
NET "switches[4]" IOSTANDARD = LVCMOS33;
NET "switches[3]" IOSTANDARD = LVCMOS33;
NET "switches[2]" IOSTANDARD = LVCMOS33;
NET "switches[1]" IOSTANDARD = LVCMOS33;
NET "switches[0]" IOSTANDARD = LVCMOS33;
NET "digital_tubes[6]" IOSTANDARD = LVCMOS33;
NET "digital_tubes[5]" IOSTANDARD = LVCMOS33;
NET "digital_tubes[4]" IOSTANDARD = LVCMOS33;
NET "digital_tubes[3]" IOSTANDARD = LVCMOS33;
NET "digital_tubes[2]" IOSTANDARD = LVCMOS33;
NET "digital_tubes[1]" IOSTANDARD = LVCMOS33;
NET "digital_tubes[0]" IOSTANDARD = LVCMOS33;


NET "digital_tubes[6]" LOC = AB15;
NET "digital_tubes[5]" LOC = Y15;
NET "digital_tubes[4]" LOC = AD14;
NET "digital_tubes[3]" LOC = Y14;
NET "digital_tubes[2]" LOC = AA15;
NET "digital_tubes[1]" LOC = AC14;
NET "digital_tubes[0]" LOC = AF14;
NET "clk" LOC = D14;


NET "clk" IOSTANDARD = LVCMOS33;

# PlanAhead Generated physical constraints 

NET "nReset" LOC = AE9;

# PlanAhead Generated IO constraints 

NET "nReset" IOSTANDARD = LVCMOS33;
