NET "clk"     LOC=D14  |IOSTANDARD = LVCMOS33; 

NET "clk" TNM_NET = "TNM_clk";
TIMESPEC TS_clk = PERIOD "TNM_clk" 10 ns HIGH 50%;

NET"nReset"   LOC=AE9  |IOSTANDARD=LVCMOS33;

# 右边
NET"digital_tubes[6]"  LOC=AB15 |IOSTANDARD=LVCMOS33;
NET"digital_tubes[5]"  LOC=Y15 |IOSTANDARD=LVCMOS33;
NET"digital_tubes[4]"  LOC=AD14 |IOSTANDARD=LVCMOS33;
NET"digital_tubes[3]"  LOC=Y14 |IOSTANDARD=LVCMOS33;
NET"digital_tubes[2]"  LOC=AA15 |IOSTANDARD=LVCMOS33;
NET"digital_tubes[1]"  LOC=AC14 |IOSTANDARD=LVCMOS33;
NET"digital_tubes[0]"  LOC=AF14 |IOSTANDARD=LVCMOS33;

NET"digital_tubes2[6]"  LOC=AC13 |IOSTANDARD=LVCMOS33;
NET"digital_tubes2[5]"  LOC=AD12 |IOSTANDARD=LVCMOS33;
NET"digital_tubes2[4]"  LOC=AA12 |IOSTANDARD=LVCMOS33;
NET"digital_tubes2[3]"  LOC=AA13 |IOSTANDARD=LVCMOS33;
NET"digital_tubes2[2]"  LOC=AF12 |IOSTANDARD=LVCMOS33;
NET"digital_tubes2[1]"  LOC=AD13 |IOSTANDARD=LVCMOS33;
NET"digital_tubes2[0]"  LOC=AC12 |IOSTANDARD=LVCMOS33;

# NET"digital_tubes[7]"  LOC=AB17 |IOSTANDARD=LVCMOS33;
# NET"digital_tubes[6]"  LOC=AF15 |IOSTANDARD=LVCMOS33;
# NET"digital_tubes[5]"  LOC=AD17 |IOSTANDARD=LVCMOS33;
# NET"digital_tubes[4]"  LOC=AC16 |IOSTANDARD=LVCMOS33;
# NET"digital_tubes[3]"  LOC=AD15 |IOSTANDARD=LVCMOS33;
# NET"digital_tubes[2]"  LOC=AC17 |IOSTANDARD=LVCMOS33;
# NET"digital_tubes[1]"  LOC=AC15 |IOSTANDARD=LVCMOS33;
# NET"digital_tubes[0]"  LOC=V15 |IOSTANDARD=LVCMOS33;

NET"digital_sel[4]"  LOC=AB11     | IOSTANDARD=LVCMOS33;
NET"digital_sel[5]"  LOC=V13     | IOSTANDARD=LVCMOS33;
NET"digital_sel[6]"  LOC=W14     | IOSTANDARD=LVCMOS33;
NET"digital_sel[7]"  LOC=AC11     | IOSTANDARD=LVCMOS33;

NET"digital_sel[0]"  LOC=AD11     | IOSTANDARD=LVCMOS33;
NET"digital_sel[1]"  LOC=V12     | IOSTANDARD=LVCMOS33;
NET"digital_sel[2]"  LOC=W12     | IOSTANDARD=LVCMOS33;
NET"digital_sel[3]"  LOC=AE11     | IOSTANDARD=LVCMOS33;

NET"switches[31]" LOC=A15 |IOSTANDARD=LVCMOS33;
NET"switches[30]" LOC=B16 |IOSTANDARD=LVCMOS33;
NET"switches[29]" LOC=A16 |IOSTANDARD=LVCMOS33;
NET"switches[28]" LOC=C17 |IOSTANDARD=LVCMOS33;
NET"switches[27]" LOC=A17 |IOSTANDARD=LVCMOS33;
NET"switches[26]" LOC=D18 |IOSTANDARD=LVCMOS33;
NET"switches[25]" LOC=C18 |IOSTANDARD=LVCMOS33;
NET"switches[24]" LOC=D21 |IOSTANDARD=LVCMOS33;

NET"switches[23]" LOC=A11 |IOSTANDARD=LVCMOS33;
NET"switches[22]" LOC=B12 |IOSTANDARD=LVCMOS33;
NET"switches[21]" LOC=A12 |IOSTANDARD=LVCMOS33;
NET"switches[20]" LOC=C13 |IOSTANDARD=LVCMOS33;
NET"switches[19]" LOC=A13 |IOSTANDARD=LVCMOS33;
NET"switches[18]" LOC=B14 |IOSTANDARD=LVCMOS33;
NET"switches[17]" LOC=C14 |IOSTANDARD=LVCMOS33;
NET"switches[16]" LOC=C15 |IOSTANDARD=LVCMOS33;

NET"switches[15]" LOC=A7    |IOSTANDARD=LVCMOS33;
NET"switches[14]" LOC=B8    |IOSTANDARD=LVCMOS33;
NET"switches[13]" LOC=A8    |IOSTANDARD=LVCMOS33;
NET"switches[12]" LOC=C9    |IOSTANDARD=LVCMOS33;
NET"switches[11]" LOC=A9    |IOSTANDARD=LVCMOS33;
NET"switches[10]" LOC=D6    |IOSTANDARD=LVCMOS33;
NET"switches[9]" LOC=C6    |IOSTANDARD=LVCMOS33;
NET"switches[8]" LOC=C11    |IOSTANDARD=LVCMOS33;

NET"switches[7]" LOC=A2    |IOSTANDARD=LVCMOS33;
NET"switches[6]" LOC=B4    |IOSTANDARD=LVCMOS33;
NET"switches[5]" LOC=A4    |IOSTANDARD=LVCMOS33;
NET"switches[4]" LOC=C5    |IOSTANDARD=LVCMOS33;
NET"switches[3]" LOC=A5    |IOSTANDARD=LVCMOS33;
NET"switches[2]" LOC=B6    |IOSTANDARD=LVCMOS33;
NET"switches[1]" LOC=A6    |IOSTANDARD=LVCMOS33;
NET"switches[0]" LOC=C7    |IOSTANDARD=LVCMOS33;

NET"led[0]"  LOC=AE19  | IOSTANDARD=LVCMOS33;

NET"led[1]"  LOC=AF19  | IOSTANDARD=LVCMOS33;
NET"led[2]"  LOC=AC20  | IOSTANDARD=LVCMOS33;
NET"led[3]"  LOC=AD21  | IOSTANDARD=LVCMOS33;
NET"led[4]"  LOC=Y18  | IOSTANDARD=LVCMOS33;
NET"led[5]"  LOC=AA19  | IOSTANDARD=LVCMOS33;
NET"led[6]"  LOC=AC19  | IOSTANDARD=LVCMOS33;
NET"led[7]"  LOC=AD19  | IOSTANDARD=LVCMOS33;
NET"led[8]"  LOC=V16  | IOSTANDARD=LVCMOS33;
NET"led[9]"  LOC=W17  | IOSTANDARD=LVCMOS33;
NET"led[10]"  LOC=AD18  | IOSTANDARD=LVCMOS33;
NET"led[11]"  LOC=AF18  | IOSTANDARD=LVCMOS33;
NET"led[12]"  LOC=Y16  | IOSTANDARD=LVCMOS33;

NET"led[13]"  LOC=AA17  | IOSTANDARD=LVCMOS33;
NET"led[14]"  LOC=AA18  | IOSTANDARD=LVCMOS33;
NET"led[15]"  LOC=AB18  | IOSTANDARD=LVCMOS33;


